@import '../../../node_modules/@uitk/themes/solas/design-tokens.scss';

.entire-user-profile {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
}
.date-input-holder {
  margin-bottom: $spacing-xl;
}

.user-profile-header {
  margin: 0;
  margin-top: $spacing-m;
  margin-bottom: $spacing-base;
  text-align: initial;
  margin-left: 32px;
}
.save-btn {
  display: flex !important;
}

// .input-image-holder{
//     display: flex;
//     align-items: center;
// }
.demo-img {
  height: 64px;
  width: 250px;
}
.align {
  margin-left: 32px;
  border: 1px;
}

// .mem{
//     margin-right: 32px;
// }
