@import '../../../node_modules/@uitk/themes/solas/design-tokens.scss';

#entire-main-page {
  height: 100vh;
  background-image: linear-gradient(1deg, #fff5fc 0%, #fff9f9 22%, #ffffff 88%);
}

.main-page-container {
  display: flex;
  justify-content: center;
}
.main-header,
.answers {
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 1;
}
.main-card {
  max-width: 800px;
  padding: 16px 16px 16px 0px;
  margin-bottom: 12px;
}
.main-header {
  display: flex;
  color: $color-text-01;
  margin: 0;
  margin-top: 6rem;
  margin-bottom: $spacing-m;
  text-align: initial;
}
.img-text-container {
  display: flex;
}

.answers {
  display: contents;
  color: #c25608;
}
.work-desc {
  color: $color-text-01;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  //font-family: "Arial,Helvetica, sans-serif";
  line-height: 1.5;
}
.ask-logo-container {
  width: 240px;
}
.ask-logo {
  margin-right: 8px;
  width: 32px;
  height: 100px;
}

.ask-logo-header {
  width: 290px;
  height: 90px;
  display: block;
  position: relative;
  top: 10px;
  margin-right: 15px;
}

.margin-0 {
  margin-top: 0;
}

@media only screen and (max-width: 780px) {
  h1 {
    font-size: 3rem !important;
  }

  .main-card {
    padding: 16px 0px 16px 0px;
  }

  .footer-container {
    margin-top: $spacing-xxl;
    text-align: center;
  }
}
